{% extends "base.html" %}

{% block css %}{% endblock css %}

{% block title %}AIpetit - Tipp löschen{% endblock title %}

{% block content %}

<div class="container text-center d-flex flex-grow-1 flex-column justify-content-center">
    <h3>"{{ tip.title }}" löschen</h3>
    <p class="fs-5 mt-3">
        <!--
            Genutze KI: ChatGPT, https://chatgpt.com/.
            Prompt (09.02.2025): Formuliere eine Bestätigungsnachricht für das endgültige Löschen eines Tipps, die den Nutzer fragt, ob er sicher ist, fortfahren zu wollen.
        -->
        Das Löschen dieses Tipps ist endgültig und kann nicht rückgängig gemacht werden. 
        Sind Sie sich sicher, dass Sie fortfahren möchten?
    </p>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-danger mt-3" type="submit"><i class="bi bi-trash"></i> Jetzt löschen</button>
    </form>
</div>

{% endblock content %}