{% extends "base.html" %}
{% load crispy_forms_tags%}

{% block css %}{% endblock css %}

{% block title %}AIpetit - {{ tip.user.username }}'s Tipp{% endblock title %}

{% block content %}

<div class="container mt-5">
    <h2>{{ tip.title }}</h2>
    <small class="text-body-secondary">@{{ tip.user.username }} &middot; {{ tip.created_at }}</small>
    <hr>
    <div class="clearfix">
        <img class="rounded img-fluid col-md-6 float-md-end mb-3 ms-md-3 hidden-right" 
        src="{{ tip.img.url }}" alt="{{ tip.title }}">
        <p class="fs-5 barlow-500 hidden-middle">
            {{ tip.body|safe|linebreaksbr }}
        </p>
    </div>
    <hr>
    <h4>Kommentare</h4>
    {% if tip.comment_set.all|length == 0 %}
        <h5>Es gibt noch keine Kommentare zu diesem Tipp</h5>
    {% else %}
        {% for comment in tip.comment_set.all %}
            <div class="card">
                <div class="card-body">
                <h6 class="card-subtitle mb-2 text-body-secondary">@{{ comment.user }} &middot; {{ comment.created_at }}</h6>
                <p class="card-text">{{ comment.body }}</p>
                <a href="#" class="btn btn-success">{{ comment.likes }} <i class="bi bi-hand-thumbs-up"></i></a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <br>
    <h4>Kommentieren</h4>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary">Veröffentlichen</button>
    </form>
</div>

{% endblock content %}