{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block css %}{% endblock css %}

{% block title %}AIpetit - Tipp updaten{% endblock title %}

{% block content %}

<div class="container d-flex flex-grow-1 flex-column justify-content-center">
    <div class="text-center">
        <h3>"{{ tip.title }}" bearbeiten</h3>
        <p class="fs-5">
            Fühle alle Felder aus und bestätige deine Eingabe mit "Speichern".
        </p>
    </div>
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success mt-3" type="submit">
            <i class="bi bi-floppy"></i> Speichern
        </button>
    </form>
</div>

{% endblock content %}