{% extends "base.html" %}

{% block css %}{% endblock css %}

{% block imprint %}active" style="pointer-events: none;" aria-current="page{% endblock imprint %}

{% block title %}AIpetit - Impressum{% endblock title %}

{% block content %}

<div class="container mt-5">
    <h3>Impressum – AIpetit (Hochschulprojekt, kein kommerzieller Betrieb)</h3>
    <h4>Angaben gemäß § 5 TMG</h4>
    <br>
    
    <h4>Betreiber der Webseite:</h4>
    <p class="fs-5">
        AIpetit (nicht kommerzielles Hochschulprojekt)
        Valentin Kunz
        Max-Mustermann-Str. 1
        maxmustermann@gmail.com
    </p>

    <h4>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h4>
    <p class="fs-5">
        Valentin Kunz
        Max-Mustermann-Str. 1
    </p>

    <h4>Haftungsausschluss:</h4>
    <p class="fs-5">
        Dies ist eine nicht-kommerzielle Webseite, die im Rahmen eines Hochschulprojekts erstellt wurde. Alle Inhalte dienen lediglich Demonstrationszwecken. Es wird keine Haftung für die Richtigkeit, Vollständigkeit oder Aktualität der bereitgestellten Informationen übernommen.
    </p>

    <h4>Urheberrecht:</h4>
    <p class="fs-5">
        Die Inhalte dieser Webseite wurden im Rahmen eines studentischen Projekts erstellt. Falls externe Inhalte oder Bilder verwendet wurden, wird auf die jeweiligen Urheber hingewiesen. Sollte es dennoch zu einer Urheberrechtsverletzung kommen, bitten wir um einen entsprechenden Hinweis.
    </p>

    <h4>Keine Abmahnung ohne vorherigen Kontakt:</h4>
    <p class="fs-5">
        Sollte der Inhalt oder die Gestaltung dieser Webseite gegen geltendes Recht verstoßen, bitten wir um eine entsprechende Nachricht ohne Kostennote. Wir werden beanstandete Inhalte umgehend entfernen oder anpassen, ohne dass eine Einschaltung eines Rechtsbeistands erforderlich ist.
    </p>
</div>

{% endblock content %}