{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block css %}{% endblock css %}

{% block title %}AIpetit - Einkaufsliste löschen{% endblock title %}

{% block content %}

<div class="container d-flex flex-grow-1 flex-column justify-content-center text-center">
    <h2>Einkaufsliste löschen</h2>
    <p class="fs-4">
        Bist du dir sicher, dass du die Einkaufsliste 
        "<strong>{{ object.title }}</strong>" löschen willst?
    </p>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit"><i class="bi bi-trash"></i> Löschen</button>
    </form>
</div>

{% endblock content %}