{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block css %}{% endblock css %}

{% block title %}AIpetit - {{ object.title }}{% endblock title %}

{% block content %}

<!-- Edit Modal -->
<div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Stichpunkt bearbeiten</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url 'edit_bulletpoint' object.pk %}" method="post">
        <div class="modal-body">
            {% csrf_token %}
            {{ form|crispy }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x"></i> Schließen</button>
          <button type="submit" class="btn btn-success" id="changeBtn" name="bullet_point_id" value="dynamicData">
            <i class="bi bi-pencil-square"></i> Ändern
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Create BulletPoint Modal -->
<div class="modal fade" id="createModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="createModalLabel">Neue Notiz hinzufügen</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'add_bulletpoint' object.pk %}" method="post">
            {% csrf_token %}
            <div class="modal-body">
                {{ form|crispy }}
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" data-bs-dismiss="modal" type="button"><i class="bi bi-x"></i> Schließen</button>
              <button class="btn btn-success" type="submit"><i class="bi bi-plus-lg"></i> Hinzufügen</button>
            </div>
        </form>
      </div>
    </div>
</div>

<div class="container d-flex flex-grow-1 flex-column justify-content-center">
    <h2 class="text-center mb-4">
      {{ object.title }} <br>
      <small class="text-body-secondary fs-6">{{ object.created_at }}</small>
    </h2>

    {% for bullet_point in object.bulletpoint_set.all %}

        <div class="alert alert-success">
            <div class="row g-5 fs-5">
                <div class="col-md-4 col-12 text-center align-content-center">
                    <strong>&middot; {{ bullet_point.text }}</strong>
                </div>
                <div class="col-md-4 col-12 text-center align-content-center">
                    <form action="{% url 'delete_bulletpoint' object.pk %}" method="post">
                        {% csrf_token %}
                        <button type="button" class="btn btn-success me-5" data-bs-toggle="modal" data-bs-target="#exampleModal" 
                        data-bs-text="{{ bullet_point.text }}" data-bs-id="{{ bullet_point.id }}">
                          <i class="bi bi-pencil-square"></i>
                        </button>
                        <button class="btn btn-danger" type="submit" name="bullet_point_id" value="{{ bullet_point.id }}"><i class="bi bi-trash"></i></button>
                    </form>
                </div>
                <div class="col-md-4 col-12 text-center align-content-center">
                    <form action="{% url 'check_bulletpoint' object.pk %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="bullet_point_id" value="{{ bullet_point.pk }}">
                        <div class="form-check">
                            <label class="form-check-label" for="flexCheckChecked">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                                {% if bullet_point.marked %}checked{% endif %} onChange="this.form.submit()">
                                Erledigt
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    {% endfor %}
    
    <button class="btn btn-primary mx-auto" type="button" data-bs-toggle="modal" data-bs-target="#createModal">
        <i class="bi bi-plus-lg"></i> Hinzufügen
    </button>
</div>

<script>
  const exampleModal = document.getElementById('exampleModal')
  if (exampleModal) {
    exampleModal.addEventListener('show.bs.modal', event => {
      // Give button the id as value
      const button = event.relatedTarget;
      const changeBtnEl = document.getElementById('changeBtn');
      const id = button.getAttribute('data-bs-id');
      changeBtn.value = id;

      const text = button.getAttribute('data-bs-text');

      const modalTitle = exampleModal.querySelector('.modal-title');
      const modalBodyInput = document.getElementById('id_text');

      modalTitle.textContent = `Stichpunkt bearbeiten`;
      modalBodyInput.value = text;
    })
  }
</script>

{% endblock content %}