/* CSS */

.img-cover{
    object-fit: cover;
    object-position: center;
}

.card {
    --bs-card-bg: transparent !important;
    --bs-card-border-color: transparent !important;
}

/* Bootstrap SCSS */

.accordion, .accordion-item {
    --bs-accordion-bg: #e2bdee;
}

.accordion-button {
    --bs-accordion-btn-bg: #e2bdee;
  }