/* CSS */

* {
    font-family: "Funnel Sans", serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #9ee37d !important;
}

main {
    flex: 1;
}

::selection {
    background: #aaefdf;
}

.spinner-wrapper {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.spinner-border {
    height: 60px;
    width: 60px;
}

/* Bootstrap SCSS */

.bg-body-tertiary {
    background-color: #9ee37d !important;
}

.dropdown-item.active, .dropdown-item:active {
    --bs-dropdown-link-active-bg: #9ee37d;
}

.dropdown-item:focus, .dropdown-item:hover {
    --bs-dropdown-link-hover-bg: #a2b3ac;
}

.dropdown-menu {
    --bs-body-bg: #d1e7dd;
}

.card {
    --bs-card-bg: #d1e7dd !important;
}

.form-control {
    background-color: #d1e7dd !important;
}