/* Breakpoints for video height */

@media only screen and (max-width: 600px) {
    .video-background-holder {
        height: calc(100vh - 56px);
    }
}

@media only screen and (min-width: 600px) {
    .video-background-holder {
        height: calc(100vh - 56px);
    }
}

@media only screen and (min-width: 768px) {
    .video-background-holder {
        height: calc(100vh - 56px);
    }
}

@media only screen and (min-width: 992px) {
    .video-background-holder {
        height: calc(100vh - 86px);
    }
}

@media only screen and (min-width: 1200px) {
    .video-background-holder {
        height: calc(100vh - 97px);
    }
}

@media only screen and (min-width: 1400px) {
    .video-background-holder {
        height: calc(100vh - 108px);
    }
}

/* Video CSS */

.video-background-holder {
    position: relative;
    background-color: black;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
  
.video-background-holder video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
  
.video-background-content {
    position: relative;
    z-index: 2;
}
  
.video-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

/* Custom button */

.btn-success {
    --bs-btn-color: black !important;
    --bs-btn-bg: #bff0a4 !important;
    --bs-btn-border-color: #bff0a4 !important;
}

.btn-success:hover {
    --bs-btn-hover-color: black !important;
    --bs-btn-hover-bg: #92d76c !important;
    --bs-btn-hover-border-color: #92d76c !important;
}

.btn-success:active {
    --bs-btn-active-color: black !important;
    --bs-btn-active-bg: #906ccf !important;
    --bs-btn-active-border-color: #906ccf !important;
}
