{% extends "base.html" %}

{% block title %}AIpetit - 403{% endblock title %}

{% block content %}

<div class="container d-flex flex-grow-1 flex-column justify-content-center text-center">
    <h2><b>Fehler - 403</b></h2>
    <p class="fs-5">
        Du bist leider nicht authentifiziert um diese Aktion auszuführen.
        Gehe über die Navigationsleiste auf eine andere Seite zurück oder
        einfach über den Link <a href="{% url 'index' %}">hier</a> zurück
        zur Homepage.
    </p>
</div>

{% endblock content %}