{% extends "base.html" %}

{% block css %}{% endblock css %}

{% block title %}AIpetit - Rezept löschen{% endblock title %}

{% block content %}

<div class="container text-center d-flex flex-grow-1 flex-column justify-content-center">
    <h3>Sind Sie sich sicher, dass Sie das Rezept löschen wollen?</h3>
    <p class="fs-5 mt-3">
        Das Löschen dieses Tipps ist endgültig und kann nicht rückgängig gemacht werden. 
        Sind Sie sich sicher, dass Sie fortfahren möchten?
    </p>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-danger mt-3" type="submit"><i class="bi bi-trash"></i> Jetzt löschen</button>
    </form>
</div>

{% endblock content %}